
@{
    ViewBag.Title = "Удалить";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  MVCGrid.Models.WorkersSmall


<h2>Удаление</h2>
<div>
    <dt>Удалить работника</dt>
    <div>
        @Html.DisplayFor(model => model.FirstName)
    </div>


</div>

@using (Html.BeginForm())
{
    <input type="submit" value="Удалить" />
    <input value="Отмена" type="button" onclick="location.href='/Home/Index'" />

}

