@model IEnumerable<MVCGrid.Models.WorkersSmall>

<div id="PartialShowAlcoholics">
    <h3>Список алкашей: </h3>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.FirstName @item.LastName</li>
        }
    </ul>
</div>
